@model IEnumerable<ИС_Консалтинг.Models.Support>
    <div class="block_column back justify_content_center align_items_center block_manager">
<h2>Все неотвеченные вопросы</h2>
<table>
    <tr>
        <th>ФИО</th>
        <th>Email</th>
        <th>Вопрос</th>
        <th>Действие</th>
    </tr>
    @foreach (var support in Model)
    {
        if (support.Active == true)
        {
            <tr>
                <td>@support.user.Name</td>
                <td>@support.user.Email</td>
                <td>@support.SMS</td>
                <td class="td_but">
                    <form asp-controller="Manager" asp-action="Client_Support" asp-route-id="@support.Id" method="post">
                        <textarea name="text" placeholder="Ответьте на вопрос пользователя"></textarea>
                        <div style="font-size:14px;color:red;">@ViewBag.Message</div>
                        <input type="submit" value="&#9993; Ответить" />
                    </form>
                </td>
            </tr>

        }
    }
</table>
</div>